 <!-- Bootstrap core JavaScript -->
 <script src="../javascript_CSS/vendor/jquery/jquery.min.js"></script>
 <script src="../javascript_CSS/vendor/popper/popper.min.js"></script>
 <script src="../javascript_CSS/vendor/bootstrap/js/bootstrap.min.js"></script>

 <!-- Plugin JavaScript -->
 <script src="../javascript_CSS/vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="../javascript_CSS/vendor/scrollreveal/scrollreveal.min.js"></script>
 <script src="../javascript_CSS/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


 <!-- Custom scripts for this template -->
 <script src="../javascript_CSS/js/creative.min.js" ></script>

<!--Login & Signup-->
<script src="../javascript_CSS/vendor/jquery/jquery.min.js"></script>
<script src="../javascript_CSS/js/main.js"></script>
<script src="../javascript_CSS/js/order_form.js"></script>
</body>

</html>