<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mx-auto text-left">
          <h2 class="section-heading">DUNGRA TAILOR</h2>
          <hr class="primary" align="left">
          <p align="left">Dungra Tailor are in working since 1997 with potential and experienced tailor, with our hard work we had served 1000's of satisfied customer. Dungra Tailor is started in small colony near Dungra Village.</p>
        </div>
        <div class="col-lg-2 mx-auto text-center">
          
        </div>
        <div class="col-lg-2 mx-auto text-left">
          <h5 class="section-heading">USEFUL LINKS</h5>
          <hr class="primary" align="left">
          <a href="#home" class="js-scroll-trigger"><p align="left">Home</p></a>
          <a href="#gallary" class="js-scroll-trigger"><p align="left">Gallary</p></a>
          <a href="#services" class="js-scroll-trigger"><p align="left">Services</p></a>
          <a href="#" class="js-scroll-trigger"><p align="left">Term of Service</p></a>
          <a href="#" class="js-scroll-trigger"><p align="left">Privacy Policy</p></a>
          <a href="/admin/login" target="_blank" class="js-scroll-trigger"><p align="left">Admin Portal</p></a>
          <a href="/tailor/login" target="_blank" class="js-scroll-trigger"><p align="left">Tailor Portal</p></a>
        </div>
        <div class="col-lg-2 mx-auto text-center">
          
        </div>
        <div class="col-lg-2 mx-auto text-left">
          <h5 class="section-heading">CONTACT US</h5>
          <hr class="primary" align="left">
          <p align="left">EWS 412/42</p>
          <p align="left">Dungra Colony</p>
          <p align="left">Silvasa Road, Vapi</p>
          <p align="left">Gujarat-396195</p>
          <a href=""><i class="fa fa-envelope fa-2x sr-contact"></i></a>
          <a href=""><i class="fa fa-twitter-square fa-2x sr-contact"></i></a>
          <a href=""><i class="fa fa-facebook-square fa-2x sr-contact"></i></a>
          <a href=""><i class="fa fa-instagram fa-2x sr-contact"></i></a>
          <a href=""><i class="fa fa-linkedin fa-2x sr-contact"></i></a>
    </div>
  </section>