<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel = "icon" href ="../javascript_CSS/img/Logo/DT.png" type = "image/x-icon"> 
    <!---<title>Dungra Tailor</title>-->
    <!-- Bootstrap core CSS -->
    <link href="../javascript_CSS/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../javascript_CSS/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../javascript_CSS/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="../vendor/font-awesome2/css/fontawesome.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/816eae76cc.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href= "../javascript_CSS/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../javascript_CSS/css/creative.min.css" rel="stylesheet" >
   
    <!-- Login & Signup -->
     <!-- Font Icon -->
     <link rel="stylesheet" href="../javascript_CSS/fonts/material-icon/css/material-design-iconic-font.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="../javascript_CSS/css/style.css">
   <link rel="stylesheet" href="../javascript_CSS/css/order_form.css">
   <link rel="stylesheet" href="../javascript_CSS/css/Admin_Table.css">
